@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=BBH+Sans+Bogle&family=Black+Ops+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');:root
{
    --bg-black-900: #8c52ff;
    --bg-black-800: #5ce1e6;
    --bg-black-700: #ffffff;
    --bg-black-600: #00bfff;
    --bg-black-500: #1800ad;
    --bg-black-400: #87cefa;    
    --bg-black-300: #004aad;
    --bg-black-200: #004aad;
    --bg-black-100: #3454cd;
    --bg-black-95: #e0ffff;
    --bg-black-90: #004aad;
    --bg-black-85: #5170ff;
    --bg-black-80: #b0e0e6;
    --bg-black-75: #d9d9d9;
    --bg-black-70: #b4b4b4;

    --text-black-900: #ffffff;
    --text-black-800: #000000;
    --text-black-700: #ff3131;
    --text-black-600: #1800ad;
    --text-black-500: #ffffff;
    --text-black-900: #000000;
    --text-black-900: #b4b4b4;
    --text-black-900: #1800ad;
    --text-black-900: #ffffff;

    --border-blue: #5170ff;
    --border-blue: #3454cd;
    --border-blue: #004aad;
    --border-purple: #5e17eb;
    --border-white: #ffffff;
    --border-blue: #b4b4b4;
    --border-blue: #8c52ff;

}

/* STYLE FOR PRODUCT START HERE */
/* Container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (main menu) */
.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 0;
  background-color: #f9f9f9;
  font-family: 'Inter', sans-serif;
  min-width: 230px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 7px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show dropdown when hovering the main button OR the dropdown itself */
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  visibility: visible;
  opacity: 1;
}

/* List items */
.dropdown-content li {
  list-style: none;
  position: relative;
  padding: 8px 10px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  font-weight: 600;
}

/* Submenu */
.sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 10px 12px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show submenu when hovering its parent item or the submenu itself */
.dropdown-content li:hover > .sub-menu,
.sub-menu:hover {
  visibility: visible;
  opacity: 1;
}

/* Hover effect for menu items */
.dropdown-content li:hover {
  background-color: #e0e0e0;
}

.sub-menu li .nav-button {
  background: transparent;
  border: none;
  text-align: left;
  display: block; 
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  color: #000;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600; 
}

.sub-menu li .nav-button:hover {
  background-color: transparent;
  color: #000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
/* STYLE FOR PRODUCT ENDS HERE */



/* STYLE FOR LAPTOP START HERE */
body.laptop-page {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e0ffff;
}

hr {
  border: none;
  width: 100%;
  height: 3px;
  background-color: #87cefa;
  margin-top: 15px;
}

header {
background-color: #1800ad;
justify-content: space-between;
height: 50px;
color: white;
padding: 10px 40px;
display: flex;
align-items: center;
}

header .logo {
font-family: 'Black Ops One', sans-serif;
font-weight: 300;
font-size: 30px;
letter-spacing: -2px;
}

header .search-container {
margin-left: 3vw;
margin-top: 18px;
position: relative;
}

header input[type="search"] {
padding: 2vh 1vw;
border-radius: 5vw;
border: none;
width: 20vw;
height: 4vh;
}

.header-nav-icons{
  height: 1.7vw;
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.header-nav-icons:hover {
  transform: scale(1.3);
  filter: drop-shadow(0 0 8px #78c8ff);
}

.header-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 34vw;
  gap: 30px;
}

header .icons {
margin-left: auto;
display: flex;
align-items: center;
gap: 80px;
}

header .icons button.login {
margin-left: 10px;
background-color: #00eeff;
color: rgb(0, 0, 0);
border: none;
border-radius: 40px;
padding: 6px 18px;
cursor: pointer;
font-weight: bold;
font-size: 14px;
white-space: nowrap;
min-width: 110px;
min-height: 40px;
transition: all 0.3s ease;
}

header .icons button.login:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #00eeff, 0 0 30px #00eeff;
  background-color: #00ffff;
}

nav {
background-color: #87cefa;
display: flex;
justify-content: center;
padding: 5px 0;
font-weight: 600;
font-size: 16px;
gap: 80px;

}
nav a {
color: #222222cc;
text-decoration: none;
padding: 8px 16px;
transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
background-color: #00ffff;
color: #000000;
transform: scale(1.1);
}

.breadcrumb {
font-size: 0.9vw;
color: black;
margin: 1vw 2vw 1vw 2vw ;
}
.breadcrumb span {
margin-right: 0.5vw;
}
.breadcrumb span:last-child {
color: #222222cc;
}

.main-content{
  display: flex;
  flex-direction: row;
}

/* vvv Sidemenu Area vvv */

aside{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px; 
}

.price-form{
  margin-top: 0.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 1vw;
}

.min-max{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 9vw;
}

.checkbox-form{
  margin-top: 0.8vw;
  padding-left: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  align-content: center;
  text-align: center;
  gap: 1vw;
}

.checkbox-item{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 0.8vw;
  gap: 0.5vw;
}

.checkbox{
  width: 1vw;
  height: 1vw;
  cursor: pointer;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 450px;
  text-align: left;
  font-size: 14px;
  border: 1px solid #000;
  border-top: 1px solid #000;
  border-radius: 0;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #9beeee;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  height: 10px;
  padding: 25px 15px;
  background-color: none;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #000;
  border-top: none;
}

.brand-discount {
  height: 10vw;
  padding: 0.3vw;
  margin-top: -0.5vw;
  background-color: none;
  font-size: 0.7vw;
  display: none;
  border: solid;
  border-width: 0vw 0.1vw 0.1vw 0.1vw;
}

.accordion:after {
  content: '\2BC6';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2BC5';
}

/* ^^^ Sidemenu Area ^^^ */


/* vvv Product Area vvv */

.flexbox{
  width: 65vw;
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 6vw;
}

.card {
  background-color: #2e2e91;
  border-radius: 0.4vw;
  width: 16vw;
  height: 28vw;
  text-align: center;
  padding: 1vw;
  font-family: 'Inter', sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #8a2be2;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.img-container{
  position: relative;
}

.wishlist-icon{
  margin: 0.2vw;
  height: 2vw;
  cursor: pointer;
}

.wishlist{
  position: absolute;
  top: 0.2vw;
  right: 0.1vw;
}

img{
  height: 16vw;
  cursor: pointer;
}
.container{
  display: flex;
  flex-direction: column;
  height: 10vw;
  font-size: 1vw;
  color: aliceblue;
  text-align: left;
  margin-top: -0.5vw;
}

div.card.h4{
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#brand{
  margin-top: -1vw;
  font-size: 0.9vw;
}


#previous-price{
  margin-top: -1vw;
  color: #a0ffff;
}

.buy-cart{
  gap: 0.5vw;
  display: flex;
  text-decoration: none;
}

.buy{
  height: 2.5vw;
  width: 12.7vw;
  font-size: 1vw;
  border: none;
  background-color: #7777e9;
  color: aliceblue;
  padding: 0.5vw;
  border-radius: 0.3vw;
  cursor: pointer;
}

.cart{
  font-size: 1vw;
  border: none;
  background-color: #7777e9;
  color: aliceblue;
  padding: 0.5vw;
  border-radius: 0.3vw;
  width: auto;
  cursor: pointer;
}

.mc-icon{
  height: 1.5vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* ^^^ Product Area ^^^ */

footer{
  margin-top: 5vw;
}


/* vvv laptopmenu2.css vvv */

.product-addon{
  margin-left: 2vw;
  padding: 0;
  height: 0;
  width: 56vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.product-section{
  margin: 0;
  padding: 1vw;
  height: 20vw;
  width: 55vw;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.product-title{
  margin-top: -1vw;
}

.sub-section{
  margin-top: 2vw;
  padding: 0;
  height: 0;
  width: 25vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 2vw;
}

.section-options{
  margin-left: 0;
  padding: 0;
  height: 5vw;
  width: 25vw;
  display: flex;
  flex-direction: column
}

.quan-buy-cart{
  align-items: center;
  height: 4vw;
  width: 30vw;
  display: flex;
  cursor: pointer
}

.quan-buy-cart button {
  background-color: #7777e9;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  padding: 0.6vw 1.5vw;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.quan-buy-cart button:hover {
  background-color: #7777e9;
  transform: scale(1.1) translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.quan-buy-cart button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.add-on-cards{
  margin: 2vw;
  padding: 0;
  max-height: 18vw;
  max-width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
  gap: 0.5vw;
}

.add-on-cards button {
  background-color: #0047AB;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  padding: 0.6vw 1.5vw;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.add-on-cards button:hover {
  background-color: #007bff;
  transform: scale(1.1) translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.add-on-cards button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#addon-img{
  height: 10vw;
  width: 10vw;
}

.side-options{
  margin-left: 10vw;
  padding: 0 0 0 1vw;
  height: 50vw;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  gap: 2vw;
}

.side-options-box{
  border: solid;
  border-color: #6288D6;
  background-color: #B0E0E6;
  margin: 0;
  padding: 1vw;
  height: 2vw;
  width: 20vw;
  display: flex;
  font-size: 1vw;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}

.payment-icon{
  margin: -0.5vw 0 0 0;
  height: 60px;
  width: 90px;
  cursor: pointer;
  gap: 10px 30px;
}

/* STYLE FOR LAPTOP ENDS HERE */



/* STYLE FOR ABOUT START HERE */
body.about-page {
  font-family: Arial, sans-serif;
  background-color: #e0f7ff;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
header .logo {
font-family: 'Black Ops One', sans-serif;
font-weight: 300;
font-size: 30px;
letter-spacing: -2px;
}

.logo span {
  color: var(--bg-black-800);
}

header input[type="search"] {
padding: 2vh 1vw;
border-radius: 5vw;
border: none;
width: 20vw;
height: 4vh;
}

.header-nav-icons{
  height: 1.7vw;
  cursor: pointer;
}

.header-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 34vw;
  gap: 30px;
}


header .icon {
margin-left: auto;
display: flex;
align-items: center;
gap: 80px;
}

header .icons-about button.login-about {
margin-left: 10px;
background-color: #00eeff;
color: rgb(0, 0, 0);
border: none;
border-radius: 40px;
padding: 6px 18px;
cursor: pointer;
font-weight: bold;
font-size: 14px;
white-space: nowrap;
min-width: 110px;
min-height: 40px;
transition: all 0.3s ease;
}

header .icons-about button.login-about:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #00eeff, 0 0 30px #00eeff;
  background-color: #00ffff;
}

nav {
background-color: #87cefa;
display: flex;
justify-content: center;
padding: 0 20px;
font-weight: 600;
font-size: 16px;
gap: 80px;

}
nav a {
float: left;
display: block;
text-align: center;
color: #222222cc;
text-decoration: none;
padding: 14px 16px;
transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
background-color: #00ffff;
color: #000000;
transform: scale(1.0);
}

/* Content Section */

.h2-about {
  font-size: 17px;
}

.intro {
  margin-top: 0;
  padding: 5px;
  font-size: 20px;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

.intro .h2-about {
  font-size: 25px;
  color: midnightblue;
  font-family: 'Archivo Black', sans-serif;
}
.intro b {
  color: #004aad;
}

.contact-form {
  padding: 20px;
}

.contact-form h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

form {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px ;
}

.form-row input:nth-child(1),
.form-row input:nth-child(2) {
  width: calc(50% - 10px);
  margin-bottom: 0;
}

.form-row input:nth-child(3),
.form-row input:nth-child(4) {
  flex-basis: 100%;
  width: 100%;
}

input, textarea {
  border: 0;
  border-radius: 0;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: block;
}

.form-row input {
  width: 500px;
}

textarea {
  height: 120px;
  resize: vertical;
}

.submit-btn {
  width: 150px;
  display: block;
  margin: auto;
  margin-right: 0;
  background-color: #0000ff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.submit-btn:hover {
  background-color: #0000cc;
  transform: scale(1.05);
  box-shadow: 0 0 15px 5px rgba(83, 129, 230, 0.7),
              0 0 15px 5px rgba(83, 129, 230, 0.7)
}
/* STYLE FOR ABOUT ENDS HERE */



/* STYLE FOR COMPONENTS STARTS HERE */
body.product-page {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e0ffff;
}

/* STYLE FOR COMPONENTS ENDS HERE */
