@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=BBH+Sans+Bogle&family=Black+Ops+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --bg-black-900: #8c52ff;
    --bg-black-800: #5ce1e6;
    --bg-black-700: #ffffff;
    --bg-black-600: #00bfff;
    --bg-black-500: #1800ad;
    --bg-black-400: #87cefa;    
    --bg-black-300: #004aad;
    --bg-black-200: #004aad;
    --bg-black-100: #3454cd;
    --bg-black-95: #e0ffff;
    --bg-black-90: #004aad;
    --bg-black-85: #5170ff;
    --bg-black-80: #b0e0e6;
    --bg-black-75: #d9d9d9;
    --bg-black-70: #b4b4b4;

    --text-black-900: #ffffff;
    --text-black-800: #000000;
    --text-black-700: #ff3131;
    --text-black-600: #1800ad;
    --text-black-500: #ffffff;
    --text-black-900: #000000;
    --text-black-900: #b4b4b4;
    --text-black-900: #1800ad;
    --text-black-900: #ffffff;

    --border-blue: #5170ff;
    --border-blue: #3454cd;
    --border-blue: #004aad;
    --border-purple: #5e17eb;
    --border-white: #ffffff;
    --border-blue: #b4b4b4;
    --border-blue: #8c52ff;
}
